<!--Bottom Nav Bar -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="navbar-text">&copy; 2023 by <span>Munim Melaque</span> made with <i class="fa-solid fa-heart"></i></h6> 
        <h6 class="navbar-text">
            <i class="fa-solid fa-envelope"></i> Email: <a href="mailto:munim.melaque@ontariotechu.net">munim.melaque@ontariotechu.net</a>
        </h6>
        <h6 class="navbar-text">
            <i class="fa-brands fa-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/munimmelaque" target="_blank">Munim Melaque</a>
        </h6>
        <h6 class="navbar-text">
            <i class="fa-brands fa-github"></i> GitHub: <a href="https://github.com/MelaqueMunim/" target="_blank">Munim Melaque</a>
        </h6>            
    </nav>
</footer>
